@use "../../styles/utils.scss";

$brighterShadesNo: 2;
$darkerShadesNo: 2;

$colorAlphaBase: hsl(9, 30%, 77%);
$colorBetaBase: hsl(206, 88%, 55%);
$colorGammaBase: hsl(67, 34%, 43%);
$colorDeltaBase: hsl(246, 43%, 45%);

:root[data-theme="light"] {
  /* #region Theme Colors */

  @include utils.generateColorShades($colorAlphaBase, "alpha");
  @include utils.generateColorShades($colorBetaBase, "beta");
  @include utils.generateColorShades($colorGammaBase, "gamma");
  @include utils.generateColorShades($colorDeltaBase, "delta");

  /* #endregion */
  /* #region Theme Text Colors */

  --text-color-dark: hsl(11, 51%, 4%);
  --text-color-light: hsl(38, 40%, 96%);

  /* #endregion */
}
