:root[data-theme="light"] {
  /* #region Theme Colors */

  --color-alpha-100: hsl(38, 40%, 100%);
  --color-alpha-200: hsl(38, 40%, 99%);
  --color-alpha-300: hsl(38, 40%, 98%);
  --color-alpha-400: hsl(38, 40%, 96%);
  --color-alpha-500: hsl(39, 40%, 90%);
  --color-alpha-600: hsl(39, 40%, 86%);
  --color-alpha-700: hsl(39, 40%, 84%);

  --color-beta-100: hsl(197, 41%, 29%);
  --color-beta-200: hsl(197, 41%, 25%);
  --color-beta-300: hsl(197, 41%, 21%);
  --color-beta-400: hsl(197, 41%, 17%);
  --color-beta-500: hsl(197, 41%, 13%);
  --color-beta-600: hsl(197, 41%, 9%);
  --color-beta-700: hsl(197, 41%, 5%);

  --color-gamma-100: hsl(89, 11%, 57%);
  --color-gamma-200: hsl(89, 11%, 53%);
  --color-gamma-300: hsl(89, 11%, 49%);
  --color-gamma-400: hsl(89, 11%, 45%);
  --color-gamma-500: hsl(89, 11%, 41%);
  --color-gamma-600: hsl(89, 11%, 37%);
  --color-gamma-700: hsl(89, 11%, 33%);

  --color-delta-100: hsl(4, 82%, 68%);
  --color-delta-200: hsl(4, 82%, 64%);
  --color-delta-300: hsl(4, 82%, 60%);
  --color-delta-400: hsl(4, 82%, 56%);
  --color-delta-500: hsl(4, 82%, 52%);
  --color-delta-600: hsl(4, 82%, 48%);
  --color-delta-700: hsl(4, 82%, 44%);

  /* #endregion */
  /* #region Theme Text Colors */

  --text-color-alpha-100: hsl(22, 4%, 83%);
  --text-color-alpha-200: hsl(22, 4%, 64%);
  --text-color-alpha-300: hsl(0, 0%, 47%);
  --text-color-alpha-400: hsl(11, 51%, 4%);
  --text-color-alpha-500: hsl(12, 50%, 2%);
  --text-color-alpha-600: hsl(12, 50%, 1%);
  --text-color-alpha-700: hsl(12, 50%, 0%);

  --text-color-beta-100: hsl(38, 40%, 100%);
  --text-color-beta-200: hsl(38, 40%, 99%);
  --text-color-beta-300: hsl(38, 40%, 98%);
  --text-color-beta-400: hsl(38, 40%, 96%);
  --text-color-beta-500: hsl(39, 40%, 90%);
  --text-color-beta-600: hsl(39, 40%, 86%);
  --text-color-beta-700: hsl(39, 40%, 84%);

  /* #endregion */
}
