@use "./typography";
@use "./custom_styles";

// Theme stylesheets
@use "../themes/dark/color_palette.scss" as darkColorPalette;
@use "../themes/light/color_palette.scss" as lightColorPalette;

:root {
  font-family: "Poppins";

  /* #region Informative Colors */

  --color-error-400: hsl(0, 100%, 63%);

  --color-warning-400: hsl(40, 100%, 60%);

  --color-info-400: hsl(196, 77%, 55%);

  --color-success-400: hsl(144, 100%, 39%);

  /* #endregion */
}

body {
  margin: 0;
}
